html{
    background-color:rgba(255, 235, 205, 0.322);
}
nav.navigation{
    display: flex;
    background-color: rgba(255, 224, 188, 0.712);
    border-radius: 50em;
    justify-content: center;
}
.title b{
    background-color: rgba(255, 224, 188, 0.712);
    font-size: 100px;
    display: flex;
    border-radius: 1em;
    justify-content: center;
}
.navigation li{
    list-style: none;
    display: inline;
    font-size: 20px;
    padding-right: 1em;
}
.navigation a{
    color: black;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
div.images{
    display:flex;
}
.images img{
    width: 620px;
    display: flex;
}
.navigation a:hover{
    background-color: rgba(255, 153, 0, 0.322);
    box-shadow: 5px 5px black;
}
a.clicked{
    background-color: rgba(255, 153, 0, 0.322);
    box-shadow: 5px 5px black;
}
.images p{
    font-size: 25px;
}

.description{
    background-color:rgba(255, 224, 188, 0.712);
    border-radius: 1em;
    font-size: 15px;
    color: black;
}
.description p{
    font-size: 22px;
}

/* cards */
.container img{
    height: 300px;
    width: 300px
}
.container {
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
    margin-left: 2.5em;
  }
  
  .card {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #17141d;

    box-shadow: -0.5em 0em 0.5em #000;
    transition: 0.5s ease-out;
    position: relative;
    left: 0px;
  }
  .card:first-child{
    box-shadow: -0.5em 0em 0.5em #000;
  }
  .card:not(:first-child) {
      margin-left: -10em;
  }
  .card:hover {
    transform: translateX(50px);
    transition: 0.4s ease-out;
  }
  .card:hover ~ .card {
    position: relative;
    left: 15em;
    transition: 0.4s ease-out;
  }